<ion-header>
  <ion-navbar>
    <ion-title text-capitalize>{{ quoteGroup.category }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let quote of quoteGroup.quotes; let i = index">
    <ion-card-header>
      #{{ i+1 }}
    </ion-card-header>
    <ion-card-content>
      <p class="italic">"{{ quote.text }}"</p>
      <p class="grey-text" text-right>- {{ quote.person }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
        <button *ngIf="!isFavorite(quote)" ion-button clear small (click)="onAddToFavorite(quote)">Favorite</button>
        <button *ngIf="isFavorite(quote)" ion-button clear small color="danger" (click)="onRemoveToFavorite(quote)">Unfavorite</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
